.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.scroll-x{
	overflow-x: auto;
}
@media (min-width: 993px) and (max-width: 1500px){
	.container {
	    width: auto;
	}
}
@media (min-width: 1501px){
	.container {
	    width: 1200px;
	}
}

.label-md{
	font-size: 1em;
}

.btn-warning-inverse{
/*	color:white !important;
	background: #FF9500 !important;
	border-color: #FF9500 !important;
*/}
.card label.btn.btn-warning {
	border-color: #FF9500;
    background-color: #FF9500;
    color: white;
}
.toggle-group .toggle-handle{
	background: white;
	border-left-color: #FF9500;
	border-right-color:#bbb;
}
tr th {
	background: white;
}
.small-title{
	font-variant: all-small-caps;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom : 10px;
	color :#185497;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}
.dr-data{
	color: #555;
}
.dr{
	margin-bottom: 30px;
	padding : 10px;
	border-radius: 5px;
	border: 1px solid #e3e3e3;
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.03);
}
.messages-container{
	border: 1px solid #eee;
	height: 400px;
	border-radius: 5px;
	padding: 10px;
	overflow-y: auto;
}
.messages-container .message{
	/*outline: 1px solid #eee;*/
	border-radius: 5px;
	position: relative;
	margin-bottom:20px;
}
.messages-container .message .message-content{
	margin-right: 60px;
}
.messages-container .message .message-text{
	background: #1C7BFC;
	color :white;
	border-radius: 7px;
	position: relative;
	padding: 10px 5px 10px 20px;
	-webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.1);
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.messages-container .message .message-text::after{
	position: absolute;
	content: " ";
	top:0;
	right: -10px;
	border-top: 15px solid #1C7BFC;
	border-left: 0 solid transparent;
	border-right: 15px solid transparent;
}
.messages-container .message .message-sender-avatar{
	position: absolute;
	top: 0;
	right: 0;
}
.messages-container .message .message-meta{
	margin-top: 7px;
	font-size: 0.9em;
	font-weight: bold;
	color: #999;
}

.comments-container{
	border: 1px solid #eee;
	height: 400px;
	border-radius: 5px;
	padding: 10px;
	overflow-y: auto;
}
.comments-container .comment{
	/*outline: 1px solid #eee;*/
	border-radius: 5px;
	position: relative;
	margin-bottom:20px;
}
.comments-container .comment .comment-content{
	margin-right: 60px;
}
.comments-container .comment .comment-text{
	background: #7e8b9a;
	color :white;
	border-radius: 7px;
	position: relative;
	padding: 10px 5px 10px 20px;
	-webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.1);
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.comments-container .comment .comment-text::after{
	position: absolute;
	content: " ";
	top:0;
	right: -10px;
	border-top: 15px solid #7e8b9a;
	border-left: 0 solid transparent;
	border-right: 15px solid transparent;
}
.comments-container .comment .comment-sender-avatar{
	position: absolute;
	top: 0;
	right: 0;
}
.comments-container .comment .comment-meta{
	margin-top: 7px;
	font-size: 0.9em;
	font-weight: bold;
	color: #999;
}
.clickable{
	cursor : pointer;
}
.bold{
	font-weight: bold !important;
}
.DTFC_RightHeadBlocker.DTFC_Blocker {
    background: white;
}
